

CLIENT_GATEWAY_PORT= 3000



PAYMENTS_MS_PORT = 3003
STRIPE_SECRET = 123123123

# https://dashboard.stripe.com/test/apikeys
STRIPE_SUCCESS_URL= http://localhost:3003/payments/success
STRIPE_CANCEL_URL= http://localhost:3003/payments/cancel

# https://dashboard.stripe.com/acct_1S0vJbCvz5heR7aE/test/workbench/webhooks/we_1S2uFbCvz5heR7aEdyFv5siq
# * ESTE ES EL SIGNING SECRET DEL WEBHOOK
STRIPE_ENDPOINT_SECRET = 123456


AUTH_DATABASE_URL = mongodb+srv://{username}:{password}@auth-microservice-db.ssgur2u.mongodb.net/AuthDB

JWT_SECRET = OtroStringSeguroIriaAQUÍ

ORDERS_DATABASE_URL= postgresql://Cadenadeconexióndeunadbremota