

CLIENT_GATEWAY_PORT= 3000

CLIENT_GATEWAY_PORT= 3000



PAYMENTS_MS_PORT = 3003
STRIPE_SECRET = 

# https://dashboard.stripe.com/test/apikeys
STRIPE_SUCCESS_URL=
STRIPE_CANCEL_URL= 

# https://dashboard.stripe.com/acct_1S0vJbCvz5heR7aE/test/workbench/webhooks/we_1S2uFbCvz5heR7aEdyFv5siq
# * ESTE ES EL SIGNING SECRET DEL WEBHOOK
STRIPE_ENDPOINT_SECRET = 